.big-button {
  font-size: 41pt;
  display: inline-block;
  height: 100px;
  width: 100px;
  padding: 16px;
  border: solid 1px #DDD;
  box-sizing: border-box;
  text-align: center;
  user-select: none;
}

body { 
  user-select: none;
}

.star {
  color: #fc0303;
  font-size: 8px;
  display: inline-block;
}